div.content{
    border: 5px solid green;
    position:absolute;
}

h2.goodeats{
    border: 5px solid orange; 
}

section.journalentry{
    background-color: rgb(196,226,255);
    padding: 5px;
    border: 5px solid blue;
    margin-top: 10px;
}

span {
    border: 5px solid purple;
    background-color: white;
}

div.footer{
    border: 5px solid yellow;
}

div.header{
    border: 5px solid red;
}

div.content{
    margin-left:10%;
    margin-right:10%;
}

div#white{
    background-color: white;
}
